{% load static %}
<!DOCTYPE html>
  <html lang="en">
      <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <title>API Homepage</title>
        
      </head>
    <body>
      <div class="container">
      <div class="card random-fact">
        <h1>Welcome to the world of Random Facts!</h1>
          <p>{{fact}}</p>
        </div>
      
      <div class="card random-image">
        <h1>Hey!Wanna check out some Random Dog Images??</h1>
            <img src="{{ dog }}" alt="Random Dog Image">
      </div>
  
      <div class="card random-student">
        <h1>Random Student Courses.</h1>
          {{courses}}
            <p>{{name}}</p>
            <button onclick="window.location.reload();">Refresh</button>
      </div>
        
    </body>
  </html>